.dropdown
  padding: 50px
  text-align: center

  ul
    list-style: none
    display: inline-block

    > li
      float: left
      width: 120px
      height: 50px
      line-height: 50px
      position: relative
      text-transform: uppercase
      font-size: 14px
      color: rgba(0, 0, 0, 0.7)
      cursor: pointer

      &:hover
        background: #e2e2e2

ul.dropdown-menu
  position: absolute
  top: 100%
  left: 0
  width: 100%
  z-index: 1

  li
    background: #666
    z-index: 1

    >a
      display: block
      width: 100%
      height: 50px
      color: rgba(255, 255, 255, 0.7)

    button
      width: 100%
      height: 50px
      border-radius: 0

      &:hover
        background: black

    &:hover
      background: #606060

    &:last-child
      border-radius: 0 0 5px 5px

ul.dropdown-menu li
  display: none // hide

li:hover > ul.dropdown-menu li
  display: block // show



// MENU-4

li:hover > ul.dropdown-menu.menu-4
  perspective: 1000px

  li
    opacity: 0

    @for $i from 1 through 3
      &:nth-child(#{$i})
        animation:
          name: menu1
          duration: (300ms * $i) - (100 * $i)
          timing-function: ease-in-out
          fill-mode: forwards

  @keyframes menu1
    0%
      opacity: 0
      transform: rotateY(-90deg) translateY(30px)
    100%
      opacity: 1
      transform: rotateY(0deg) translateY(0px)

// MENU-1

li:hover > ul.dropdown-menu.menu-1
  perspective: 1000px

  li
    opacity: 0
    transform-origin: top center

    @for $i from 1 through 3
      &:nth-child(#{$i})
        animation:
          name: menu2
          duration: 300ms
          delay: (150ms * $i) - (300)
          timing-function: ease-in-out
          fill-mode: forwards

  @keyframes menu2
    0%
      opacity: 0
      transform: rotateX(-120deg)
    60%
      transform: rotateX(50deg)
    100%
      opacity: 1
      transform: rotateX(0deg)





































      