@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px Arial, Helvetica, sans-serif;
  background: $bodyBackground;
}

a {
  text-decoration: none;
  color: black;
}

main {
  width: 100%;
}


button {
  border-radius: 5px;
  border: 1px solid $buttonBackground;
  width: 80px;
  margin: 0 0px;
  height: $buttonHeight;
  background: $buttonBackground;
  color: $navBackground;
  text-transform: uppercase;
  outline: none;

  &:hover {
    cursor: pointer;
    background: black;
  }
}

.error {
  color: red;
}

@import "navigation/nav";
@import "main/container";
@import "main/signup";
@import "main/login";