* {
  margin: 0;
  padding: 0; }

body {
  font: 14px Arial, Helvetica, sans-serif;
  background: #ededed; }

a {
  text-decoration: none;
  color: black; }

main {
  width: 100%; }

button {
  border-radius: 5px;
  border: 1px solid #1e1e1e;
  width: 80px;
  margin: 0 0px;
  height: 30px;
  background: #1e1e1e;
  color: #fdfdfd;
  text-transform: uppercase;
  outline: none; }
  button:hover {
    cursor: pointer;
    background: black; }

.error {
  color: red; }

.nav-header-main {
  background: #fdfdfd;
  height: 50px;
  border-bottom: 1px solid #ededed;
  -webkit-box-shadow: 2px 0 5px 1px #e0e0e0;
  -moz-box-shadow: 2px 0 5px 1px #e0e0e0;
  box-shadow: 2px 0 5px 1px #e0e0e0; }
  .nav-header-main .header-logo {
    display: inline-block;
    float: left;
    font-weight: bold;
    font-size: 2em;
    padding: 5px 20px; }
  .nav-header-main ul.nav-wrapper {
    display: inline-block;
    list-style: none;
    height: inherit; }
    .nav-header-main ul.nav-wrapper li {
      display: block;
      float: left;
      font-size: 1.5em;
      height: inherit;
      padding: 0 12px; }
      .nav-header-main ul.nav-wrapper li a {
        display: block;
        padding: 11px 0; }
      .nav-header-main ul.nav-wrapper li:hover {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-bottom: 2px solid #4b4b4b;
        border-radius: 2px; }
    .nav-header-main ul.nav-wrapper li.active {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border-bottom: 2px solid #4b4b4b;
      border-radius: 2px; }
  .nav-header-main .header-logged-in {
    float: right;
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav-header-main .dropdown {
    padding: 50px;
    text-align: center; }
    .nav-header-main .dropdown ul {
      list-style: none;
      display: inline-block; }
      .nav-header-main .dropdown ul > li {
        float: left;
        width: 120px;
        height: 50px;
        line-height: 50px;
        position: relative;
        text-transform: uppercase;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.7);
        cursor: pointer; }
        .nav-header-main .dropdown ul > li:hover {
          background: #e2e2e2; }
  .nav-header-main ul.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1; }
    .nav-header-main ul.dropdown-menu li {
      background: #666;
      z-index: 1; }
      .nav-header-main ul.dropdown-menu li > a {
        display: block;
        width: 100%;
        height: 50px;
        color: rgba(255, 255, 255, 0.7); }
      .nav-header-main ul.dropdown-menu li button {
        width: 100%;
        height: 50px;
        border-radius: 0; }
        .nav-header-main ul.dropdown-menu li button:hover {
          background: black; }
      .nav-header-main ul.dropdown-menu li:hover {
        background: #606060; }
      .nav-header-main ul.dropdown-menu li:last-child {
        border-radius: 0 0 5px 5px; }
  .nav-header-main ul.dropdown-menu li {
    display: none; }
  .nav-header-main li:hover > ul.dropdown-menu li {
    display: block; }
  .nav-header-main li:hover > ul.dropdown-menu.menu-4 {
    -webkit-perspective: 1000px;
    perspective: 1000px; }
    .nav-header-main li:hover > ul.dropdown-menu.menu-4 li {
      opacity: 0; }
      .nav-header-main li:hover > ul.dropdown-menu.menu-4 li:nth-child(1) {
        -webkit-animation-name: menu1;
        animation-name: menu1;
        -webkit-animation-duration: 200ms;
        animation-duration: 200ms;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
      .nav-header-main li:hover > ul.dropdown-menu.menu-4 li:nth-child(2) {
        -webkit-animation-name: menu1;
        animation-name: menu1;
        -webkit-animation-duration: 400ms;
        animation-duration: 400ms;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
      .nav-header-main li:hover > ul.dropdown-menu.menu-4 li:nth-child(3) {
        -webkit-animation-name: menu1;
        animation-name: menu1;
        -webkit-animation-duration: 600ms;
        animation-duration: 600ms;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }

@-webkit-keyframes menu1 {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
    transform: rotateY(-90deg) translateY(30px); }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
    transform: rotateY(0deg) translateY(0px); } }

@keyframes menu1 {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
    transform: rotateY(-90deg) translateY(30px); }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
    transform: rotateY(0deg) translateY(0px); } }
  .nav-header-main li:hover > ul.dropdown-menu.menu-1 {
    -webkit-perspective: 1000px;
    perspective: 1000px; }
    .nav-header-main li:hover > ul.dropdown-menu.menu-1 li {
      opacity: 0;
      -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
      transform-origin: top center; }
      .nav-header-main li:hover > ul.dropdown-menu.menu-1 li:nth-child(1) {
        -webkit-animation-name: menu2;
        animation-name: menu2;
        -webkit-animation-duration: 300ms;
        animation-duration: 300ms;
        -webkit-animation-delay: -150ms;
        animation-delay: -150ms;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
      .nav-header-main li:hover > ul.dropdown-menu.menu-1 li:nth-child(2) {
        -webkit-animation-name: menu2;
        animation-name: menu2;
        -webkit-animation-duration: 300ms;
        animation-duration: 300ms;
        -webkit-animation-delay: 0ms;
        animation-delay: 0ms;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
      .nav-header-main li:hover > ul.dropdown-menu.menu-1 li:nth-child(3) {
        -webkit-animation-name: menu2;
        animation-name: menu2;
        -webkit-animation-duration: 300ms;
        animation-duration: 300ms;
        -webkit-animation-delay: 150ms;
        animation-delay: 150ms;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }

@-webkit-keyframes menu2 {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-120deg);
    transform: rotateX(-120deg); }
  60% {
    -webkit-transform: rotateX(50deg);
    transform: rotateX(50deg); }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg); } }

@keyframes menu2 {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-120deg);
    transform: rotateX(-120deg); }
  60% {
    -webkit-transform: rotateX(50deg);
    transform: rotateX(50deg); }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg); } }

.wrapper-main {
  position: relative;
  background: #fdfdfd;
  width: 80%;
  margin: 20px auto;
  border-radius: 5px; }
  .wrapper-main .section-default {
    padding: 40px; }
    .wrapper-main .section-default .text {
      font-weight: bold;
      font-size: 2em; }

.section-signup {
  position: relative;
  height: 500px; }
  .section-signup h1 {
    position: absolute;
    top: 30px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .section-signup .form-signup {
    position: absolute;
    top: 80px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -ms-flex-line-pack: center;
    align-content: center; }
    .section-signup .form-signup input {
      display: block;
      margin: 2px 10px;
      padding: 10px;
      width: 300px;
      border-radius: 5px;
      border: 1px solid #ededed; }
      .section-signup .form-signup input:focus {
        outline: none; }
    .section-signup .form-signup button {
      display: block;
      margin: 15px auto 0 auto;
      width: 100px; }
    .section-signup .form-signup .error {
      display: block;
      height: 15px;
      margin-left: 20px;
      font-size: 0.85em; }

.section-login {
  width: 300px;
  height: 230px;
  background: red;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 25%);
  -ms-transform: translate(-50%, 25%);
  transform: translate(-50%, 25%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 1px 2px 6px 2px #b4b4b4;
  -moz-box-shadow: inset 1px 2px 6px 2px #b4b4b4;
  box-shadow: inset 1px 2px 6px 2px #b4b4b4;
  border: 1px solid #fdfdfd;
  background: #fdfdfd; }
  .section-login h1 {
    text-align: center;
    margin: 20px 0; }
  .section-login .login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .section-login .login input {
      display: block;
      width: 200px;
      border: 2px solid #ededed;
      border-radius: 5px;
      height: 30px;
      padding: 0 10px;
      margin: 5px 0; }
      .section-login .login input:focus {
        outline: none; }
    .section-login .login button {
      display: block;
      margin: 0 10px;
      margin-top: 10px;
      width: 150px; }
    .section-login .login a {
      display: block;
      margin-top: 20px;
      color: #545454; }
      .section-login .login a:hover {
        color: #212121; }
