
.wrapper-main {
  position: relative;
  background: $navBackground;
  width: 80%;
  margin: 20px auto;
  border-radius: 5px;


  .section-default {
    padding: 40px;

    .text {
      font-weight: bold;
      font-size: 2em;
    }
  }
}
