
.section-login {
  width: 300px;
  height: 230px;
  background: red;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 25%);
  @include rounded(5px);
  @include box-shadow(1px, 2px, 6px, 2px, #b4b4b4, true);
  border: 1px solid $navBackground;
  background: $navBackground;

  h1 {
    text-align: center;
    margin: 20px 0;
  }

  .login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    input {
      display: block;
      width: 200px;
      border: 2px solid $bodyBackground;
      border-radius: 5px;
      height: $buttonHeight;
      padding: 0 10px;
      margin: 5px 0;

      &:focus {
        outline: none;
      }
    }

    button {
      display: block;
      margin: 0 10px;
      margin-top: 10px;
      width: 150px;

    }

    a {
      display: block;
      margin-top: 20px;
      color: darken($bodyBackground, 60%);

      &:hover {
        color: darken($bodyBackground, 80%);
      }
    }
  }
}