
.section-signup {

  position: relative;
  height: 500px;

  h1 {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .form-signup {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0);
    align-content: center;

    input {
      display: block;
      margin: 2px 10px;
      padding: 10px;
      width: 300px;
      border-radius: 5px;
      border: 1px solid $bodyBackground;

      &:focus {
        outline: none;
      }
    }

    button {
      display: block;
      margin: 15px auto 0 auto;
      width: 100px;
    }

    .error {
      display: block;
      height: 15px;
      margin-left: 20px;
      font-size: 0.85em;
    }
  }
}