
.nav-header-main {
  background: $navBackground;
  height: 50px;
  border-bottom: 1px solid $bodyBackground;
  @include box-shadow(2px, 0, 5px, 1px, darken($bodyBackground, 5%));

  .header-logo {
    display: inline-block;
    float: left;
    font-weight: bold;
    font-size: 2em;
    padding: 5px 20px;
  }

  ul.nav-wrapper {

    display: inline-block;
    list-style: none;
    height: inherit;

    li {
      display: block;
      float: left;
      font-size: 1.5em;
      height: inherit;
      padding: 0 12px;

      a {
        display: block;
        padding: 11px 0;
      }

      &:hover {
        @include innerBorder();
        border-bottom: 2px solid darken($navBackground, 70%);
        border-radius: 2px;
      }
    }

    li.active {
      @include innerBorder();
      border-bottom: 2px solid darken($navBackground, 70%);
      border-radius: 2px;
    }
  }

  .header-logged-in {
    float: right;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @import "user/dropdown";
}